* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.home-page {
  background-image: url(../src/img/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: rgb(53, 110, 117);
}
.navbar-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container img {
  height: 70px;
  border-radius: 50%;
}
.navbar-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}
.navbar-links li,
a {
  color: rgb(205, 210, 214);
  cursor: pointer;
}
.navbar-links li:hover,
a:hover {
  color: aliceblue;
}
