.post-card {
  width: 400px;
  height: 360px;
  margin: 15px 20px;
  padding: 30px;
  background-color: #d8e7e7;
  border-radius: 7px;
}

.card-header {
  display: flex;
  align-items: center;
}
.card-header img {
  width: 50px;
  border-radius: 50%;
  margin-right: 7px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.link-post {
  margin-left: 170px;
  padding: 15px;
  margin-top: 20px;
}

.add-post {
  color: rgb(223, 159, 159);
  background-color: wheat;
  padding: 10px;
  border-radius: 5px;
}

.form-input {
  margin: 40px 0 20px 150px;
}
p {
  margin: 10px;
}
.text-back {
  background-color: rgb(198, 212, 212);
  width: 40%;
}
.btn-add-post {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(198, 212, 212);
}
.btn-add-post:hover {
  background-color: rgb(145, 199, 199);
}
.sg-post {
  color: rgb(97, 97, 97);
  padding: 10px;
}
.sg-post:hover {
  color: rgb(180, 150, 111);
}
